@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--color-brand-blue-700: #202945;
  --color-brand-blue-500: #737fa6;
  --color-brand-blue-400: #4863b7;
  --color-brand-blue-300: #3e4869;
  --color-brand-blue-200: #525b79;
  --color-brand-blue-100: #d1d9f4;
	--color-brand-green-500: #00C07D;
  --color-brand-orange-700: #ff671d;
  --color-brand-crimson-700: #c00053;
  --color-brand-page: #f5f7fe;

  --font-Inter: 'Inter', sans-serif;
  --default-font-family: var(--font-Inter);
  --breakpoint-3xl: 1570px;
  --breakpoint-xmd: 770px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .thin-scrollbar {
    --scrollbar-inset: 5px;
  }
  .thin-scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  .thin-scrollbar::-webkit-scrollbar-track {
    background-color: #AEB5CF;
    border-radius: 9999px;
    margin-inline: var(--scrollbar-inset);
  }
  .thin-scrollbar::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #202945;
    border-radius: 9999px;
  }

  @supports not selector(::-webkit-scrollbar) {
    .thin-scrollbar {
      scrollbar-width: thin;
      scrollbar-color: #fff #aeb5cf;
    }
  }
}
